{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<title>SimplyGrade</title>
</head>

<body>
<nav class="navbar navbar-default navbar-static-top text-center">
<a href="/">
<img src="{% static 'images/logo2.png' %}"alt="TreasureGram" style="width:220px;height:55px" align="left">
</a></nav>
<p>This is some test.</p>
<p>This is some test.</p>
</body>

</html>